body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    background-color: orange;
    padding: 15px;
    font-size: 16px;
    text-align: center;
}

.collapse {
    visibility: collapse;
}

.row {
    display: flex;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-top: 100px;
}

ul {
    list-style-type: disc;
}

.listStyle {
    list-style-type: disc;
}

.header {
    text-align: left;
}

.marks1 {
    visibility: hidden;
}

.marks1Visible {
    visibility: visible;
}

.marks2 {
    visibility: hidden;
}

.marks2Visible {
    visibility: visible;
}

.colormaps1 {
    visibility: hidden;
}

.colorMaps1Visible {
    visibility: visible;
}

.colormaps2 {
    visibility: hidden;
}

.colorMaps2Visible {
    visibility: visible;
}

.Acknowledgements {
    padding-top: 50px;
}





